<header class="fixed top-0 left-0 z-30 w-screen h-28 bg-[#fffded] select-none">
  <nav class="w-full h-full flex justify-between items-center px-12">
    <ul class="flex gap-3 text-[28px] font-bold text-[#aa9839] font-cormorant">
      <li class="nav-item">Home</li>
      <li class="nav-item">About</li>
      <li class="nav-item">Services</li>
      <li class="nav-item">Contacts</li>
    </ul>

    <img [src]="navLogoImg()" [alt]="navLogoAlt()" class="w-45 h-45 object-cover mr-50">

    <ul class="flex gap-4 text-2xl font-bold text-[#aa9839] font-cormorant">
      <li>❤️</li>
      <li>🛒</li>
      <li>🙍‍♀️</li>
    </ul>
  </nav>
</header>