<section class="w-full h-fit pt-40 bg-light-orange flex justify-evenly">
  <div class="border">
    <app-header></app-header>
    <div class="w-3/4 h-20 border">hehe</div>
  </div>

  <aside class="fixed top-29 left-0 bg-amber-100 w-70 h-dvh border"></aside>
  <div class="flex flex-col gap-6">
    <h2 class="text-5xl font-alike font-medium">{{pageTitle()}}</h2>
    <div class="grid grid-cols-3 gap-5">
      @if (products().length === 0) {
      <h2>No products found</h2>
      }@else{
      @for (product of products(); track product.id) {
      <app-product-card [product]="product"></app-product-card> }
      }
    </div>
  </div>
</section>